* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding-right: 3vh;
}

ul {
    margin-left: 0px;
}

ul li,
ul li h2 {
    display: inline;
}

nav {
    margin: 15px;
}

header,
footer {
    position: absolute;
    background-color: rgba(40, 42, 173, 0.9);
    width: 100%;
    color: white;
}

footer {
    bottom: 0;
    /* Левый нижний угол */
    padding: 15px 0;
    /* Поля вокруг текста */
    background: rgba(58, 60, 230, 0.815);
    color: #fff;
}

body {
    background-size: cover;
    background-image: url(pic3.jpg);
    color: #fff;
}

table {
    border: 1px solid grey;
}

main,
body {
    height: 100vh;
}

main div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

/* границы ячеек первого ряда таблицы */
th {
    border: 1px solid grey;
    text-align: center;
}

/* границы ячеек тела таблицы */
td {
    font-size: large;
    width: 120px;
    padding: 5%;
    border: 1px solid grey;
}

thead {
    background-color: darkslategray;
}

table colgroup col {
    background-color: darkcyan;
}

address a {
    color: aliceblue;
    margin-right: 2%;
    text-decoration: none;
}
.footer_title,
footer h3,
footer div address p,
address {
    display: inline;
}
.footer_title{
    margin-left: 20px;
}
footer div address p {
    padding-top: 1%;
    margin-left: 20px;
}

footer address {
    padding-left: 1%;
}